html, body {
  width: 100vw !important;
  height: 100vh !important;
}

/* Default font for body */
body {
  font-family: "Inconsolata", monospace !important;
}

/* secondary font */
.secondary-font,
#secondary-font {
  font-family: "Alata", sans-serif;
}

/* primary font */
.primary-font,
#primary-font {
  font-family: "Inconsolata", monospace;
  font-size: 19px;
}

/* Default font */
.default-font,
#default-font {
  font-family: "Alata", sans-serif;
}

#hero .image img:hover {
  cursor: default !important;
}

#hero .image.animate img:hover {
  box-shadow: 0 0 11px rgb(15 80 100 / 20%);
  filter: contrast(1.2);
  cursor: default !important;
}

#about .content {
  font-size: 18px !important;
  text-align: justify !important;
  font-weight: 400 !important;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

header {
  font-weight: 600 !important;
}

body.light *::selection {
  color: var(--text-color) !important;
  background-color: rgba(198, 173, 143, 0.5) !important;
}

body.dark *::selection {
  color: var(--text-color) !important;
  background-color: rgba(176, 179, 184, 0.5) !important;
}

.activities, .modules {
    font-weight: 600 !important; 
    padding-top: 20px !important;
    font-size: 20px !important;
}

.society {
  font-weight: 600 !important;
  padding-bottom: 10px !important;
}

.education-content {
    font-size: 17px !important;
}

.role {
    font-style: italic;
    font-size: 17px !important;
}

.module-content {
    font-style: italic;
}

.description {
    padding-left: 7px
}

.card-title {
    font-size: 23px !important
}

.school, .grade {
    font-size: 17px !important;
}

.project-card-title {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 600 !important;
    padding-top: 15px;
}

.project-card-content {
    font-family: "Inconsolata", monospace !important;
}

.experience-text {
    padding-left: 15px !important;
}

#experience .experience-container .tab-content .tab-pane ul li::before {
    content: "" !important;
    color: var(--primary-color);
    position: absolute;
    left: 0px;
}

.project-desc {
    font-size: 17px !important;
    list-style-type: disc !important;
    padding-bottom: 0px !important;
}

.project-desc-point {
    padding-left: 10px !important;
    margin-bottom: 0px !important;
}

.blogpost-title {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 600 !important;
    padding-left: 10px;
}

#single .page-content h2 {
  padding-top: 40px !important;
}

#content .card-text, footer .card-text {
  font-family: "Inconsolata", monospace;
  padding-top: 20px;
}

#recent-posts .h3 {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600 !important;
}
